<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="vue表单"/>
		<title>了解vue表单双向绑定</title>
		<script type="text/javascript" src="../static/common.js"></script>
	</head>
	<body>
		<form id="info">
			<label for="username">姓名：</label>
			<input id="username" type="text" v-model="username" placeholder="username" />
			<br><span>username is: <span style="color: #FF0000;">{{username}}</span></span><br><br>
			
			<label for="phone">手机：</label>
			<input id="phone" type="text" v-model="phone" placeholder="phone number" />
			<br><span>phone number is: <span style="color: #FF0000;">{{phone}}</span></span><br><br>
			
			<label>性别：</label>
			<label for="gender-male">男</label>
			<input id="gender-male" type="radio" v-model="gender" value="男"/>
			<label for="gender-female">女</label>
			<input id="gender-female" type="radio" v-model="gender" value="女"/>
			<br><span>gender is: <span style="color: #FF0000;">{{gender}}</span></span><br><br>
			
			<label>爱好：</label>
			<input id="hobbies-basketball" type="checkbox" v-model="hobbies" value="篮球"/>
			<label for="hobbies-basketball">篮球</label>
			<input id="hobbies-football" type="checkbox" v-model="hobbies" value="足球"/>
			<label for="hobbies-football">足球</label>
			<input id="hobbies-music" type="checkbox" v-model="hobbies" value="音乐"/>
			<label for="hobbies-music">音乐</label>
			<br><span>hobbies are: <span style="color: #FF0000;">{{hobbies}}</span></span><br><br>
			
			<label for="motto">座右铭：</label><br>
			<textarea id="motto" v-model="motto" style="width: 400px;height: 80px;"></textarea>
			<br><span>motto is: <span style="color: #FF0000;">{{motto}}</span></span><br><br>
			
			<input type="button" @click="submit" value="注册" />
		</form>
		
		<script type="text/javascript">
			var info = new Vue({
			  el: '#info',
			  data: {
				username: "",
				phone: "",
				gender: "",
				hobbies: [],
				motto: ""
			  },
			  methods:{
				  submit: function(){
					  var postData = {
						  username: this.username,
						  phone: this.phone,
						  gender: this.gender,
						  hobbies: JSON.stringify(this.hobbies),
						  motto: this.motto
					  };
					  console.log(postData);
				  }
			  }
			})
		</script>
	</body>
</html>
